<section class="nosotros_container">
  <h2 class="nosmotiva" >¿Quiénes somos?</h2>
  <iframe src="https://www.youtube.com/embed/ptc4Awb0UpU?autoplay=1?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <h3 class="follow_us"> No duddes en buscarnos en youtube, siguenos!.</h3>
  <br>
  <h2>Constructora Villamizar</h2>
  <p>Buscamos mejorar  la calidad de vida de múltiples familias a través  de nuestros proyectos, porque sabemos que para ti y para nosotros es importante tu hogar.</p>
</section>
<aside class="nosotros_text">
  <div class="container_mision">
    <h3>Misión</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>

  </div>
  <div class="container_vision">
    <h3>visión</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
  </div>
  <div class="container valores">
    <h3>Valores corporativos</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
  </div>
</aside>
