<section class="nosotros_container">
  <div class="text-container">
    <h2 class="nosmotiva" >Community Enter Group</h2>
    <p class="follow_us"> At Community Enter Group, we believe that marketing is a powerful tool that can help businesses of all sizes grow and succeed.
      We are a team of experienced marketing professionals who are passionate about helping our clients achieve their goals.</p>
  </div>
  <div class="image-container">
    <img src="../../assets/imagenes/EquipoMarketing.jpg" alt="Grupo de personas de marketing">
  </div>
</section>
<aside class="nosotros_text">
  <div class="container_mision">
    <h3>Mission</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita.
      Magni provident reprehenderit quis quae earum dignissimos.
    </p>

  </div>
  <div class="container_vision">
    <h3>Vision</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
  </div>
  <div class="container valores">
    <h3>Corporate values</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
  </div>
</aside>
