<footer class="footer">
<div>
  <div class="title_container">
    <h2 class="construction_title">
      Community Entergroup
    </h2>
  </div>
  <div class="direction_container">
    <i class="icon_direction"><img src="assets/imagenes/ubicación.png" alt="icon_direction"></i>
    <h3 class="title_direction">Cra 77M Sur #70C-40</h3>
  </div>
  <div class="number_container">
    <i class="icon_phone"><img src="assets/imagenes/phone.png" alt ="icon_phone"></i>
    <h3 class="title_number">+57 3227912258</h3>
  </div>
  <div class="email_container">
    <i class="icon_email"><img src="assets/imagenes/email.png" alt="icon_email"></i>
    <h3 class="title_email">Info@communityentergroup.com</h3>
  </div>
</div>
<div>
  <div class="title_container">
    <h2 class="construction_title">{{ "accesosRapidos" | translate }}</h2>
  </div>
  <div class="direction_container">
    <h3 class="title_direction" routerLink="formulario">{{ "footerContact" | translate }}</h3>
  </div>
  <div class="number_container">
    <a href="https://t.me/CommunityEntergroup" class="btn_telegram" target="_blank">
    <h3 class="title_number" href="https://t.me/CommunityEntergroup">{{ "footerTelegram" | translate }}</h3>
    </a>
  </div>
  <div class="email_container">

    <h3 class="title_email" routerLink="proyectos">{{ "footerPolicy" | translate }}</h3>
  </div>
</div>


</footer>
