<footer class="footer">
<div>
  <div class="title_container">
    <h2 class="construction_title">
      Community Enter Group
    </h2>
  </div>
  <div class="direction_container">
    <i class="icon_direction"><img src="assets/imagenes/ubicación.png" alt="icon_direction"></i>
    <h3 class="title_direction">Cra 77M Sur #70C-40</h3>
  </div>
  <div class="number_container">
    <i class="icon_phone"><img src="assets/imagenes/phone.png" alt ="icon_phone"></i>
    <h3 class="title_number">+57 3227912258</h3>
  </div>
  <div class="email_container">
    <i class="icon_email"><img src="assets/imagenes/email.png" alt="icon_email"></i>
    <h3 class="title_email">Info@communityentergroup.com</h3>
  </div>
  <div class="social_media">
    <i class="icon_instagram"><a href="https://www.instagram.com/yeison_jimenez/" target="_blank"><img src="assets/imagenes/instagram.png" alt="icon_instagram"></a></i>
    <i class="icon_facebook"><a href="" target="_blank"><img src="assets/imagenes/facebook.png" alt="icon_facebook"></a></i>
    <i class="icon_tiktok"><a href="" target="_blank"><img src="assets/imagenes/twitterWhite.png" alt="icon_tiktok"></a></i>
  </div>
</div>
<div class="register">
  <h3 class="title_register"> Recuerda que puedes contactarnos!</h3>
  <div class="container_register">
    <div class="container_purpura">
      <a class="anchor_register" routerLink="formulario"> Contactar </a>
    </div>
    </div>
</div>
</footer>
