<section class="nosotros_container">
  <div class="text-container">
    <h2 class="nosmotiva" >Community Entergroup</h2>
    <p class="follow_us">{{ "somosp1" | translate }}</p>
    <p class="we">{{ "somosp2" | translate }}</p>
  </div>
  <div class="image-container">
    <img src="../../assets/imagenes/EquipoMarketing.jpg" alt="Grupo de personas de marketing">
  </div>
</section>
<aside class="nosotros_text">
  <div class="arrow">
    <img src="../../assets/imagenes/arrow-down.png" alt="imagen de flecha hacia abajo">
  </div>
  <!--<div class="container_mision">
    <h3>{{ "mision" | translate }}</h3>
    <p>{{ "misionp" | translate }}</p>
  </div>
  <div class="container_vision">
    <h3>{{ "vision" | translate }}</h3>
    <p>{{ "visionp" | translate }}</p>
  </div>
  <div class="container valores">
    <h3>{{ "valores" | translate }}</h3>
    <ul>
      <li>{{ "valoresp1" | translate }}</li>
      <li>{{ "valoresp2" | translate }}</li>
      <li>{{ "valoresp3" | translate }}</li>
      <li>{{ "valoresp4" | translate }}</li>
      <li>{{ "valoresp5" | translate }}</li>
      <li>{{ "valoresp6" | translate }}</li>
    </ul>
  </div> -->
</aside>
