<section>
  <app-presentacion></app-presentacion>
  <div class="body">
    <div class="wrapper">
      <div class="single-card">
        <div class="front1">
        </div>
        <div class="back">
          <div class="content">
            <h2>{{ "vision" | translate }}</h2>
            <p>{{ "visionp" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="single-card">
        <div class="front2">
        </div>
        <div class="back">
          <div class="content">
            <h2>{{ "mision" | translate }}</h2>
            <p>{{ "misionp" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="single-card">
        <div class="front3">
        </div>
        <div class="back">
          <div class="content">
            <h2>{{ "valores" | translate }}</h2>
            <p>{{ "valoresp1" | translate }}</p>
            <p>{{ "valoresp2" | translate }}</p>
            <p>{{ "valoresp3" | translate }}</p>
            <p>{{ "valoresp4" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
