.body
  height: 100hv
  display: flex
  align-items: center
  justify-content: space-evenly
  font-family: poppins
  background: white


.wrapper,.single-card
  height: 350px
  max-width: 300px
  magin: auto
  margin-top: 5%
  position: relative
  margin-bottom: 5%
  text-align: center

.wrapper
  perspective: 600px


.single-card
  text-align: center
  transition: all 1.5s cubic-bezier(0.7,-.5,0.3,1.8)
  transform-style: preserve-3d

.wrapper:hover .single-card
  transform: rotateY(180deg)

.front, .back
  width: 265px
  position: relative
  top: 0
  left: 0
  backface-visibility: hidden

.front
  cursor: pointer
  height: 100%
  background-image:  url("../../assets/imagenes/samurai.png")
  backface-visibility: hidden
  border-radius: 50px
  background-size: cover
  background-position: center center

.back
  transform: rotateY(180deg)
  position: absolute
  border-radius: 50px
  height: 100%
  background: #f5b8b8

.content
  padding: 10% 0
  text-align: center

.content h2
  font-size: 22px
  margin: 0
  font-weight: 300

.content p
  font-size:  14px






