<section>
  <app-presentacion></app-presentacion>
  <div class="container_mision">
    <h3>{{ "mision" | translate }}</h3>
    <p>{{ "misionp" | translate }}</p>
  </div>
  <div class="container_vision">
    <h3>{{ "vision" | translate }}</h3>
    <p>{{ "visionp" | translate }}</p>
  </div>
  <div class="container valores">
    <h3>{{ "valores" | translate }}</h3>
    <ul>
      <li>{{ "valoresp1" | translate }}</li>
      <li>{{ "valoresp2" | translate }}</li>
      <li>{{ "valoresp3" | translate }}</li>
      <li>{{ "valoresp4" | translate }}</li>
      <li>{{ "valoresp5" | translate }}</li>
      <li>{{ "valoresp6" | translate }}</li>
    </ul>
  </div>
</section>
