<main>
  <section id="introduccion">
      <h2>{{ "introduccionPoliticas" | translate }}</h2>
      <p>{{ "introduccionParrafo" | translate }}</p>
  </section>
  <section id="politicas">
      <h2>Políticas</h2>
      <ul>
          <li>
              <details>
                  <summary>{{ "summaryPasswords" | translate }}</summary>
                  <ul>
                      <li >{{ "passwordsP1" | translate }}</li>
                      <li >{{ "passwordsP2" | translate }}</li>
                      <li >{{ "passwordsP3" | translate }}</li>
                      <li >{{ "passwordsP4" | translate }}</li>
                  </ul>
              </details>
          </li>
          <li>
              <details>
                  <summary>{{ "summaryAccesInformation" | translate }}</summary>
                  <ul>
                      <li >{{ "accesP1" | translate }}</li>
                      <li >{{ "accesP2" | translate }}</li>
                      <li >{{ "accesP3" | translate }}</li>
                  </ul>
              </details>
          </li>
          <li>
              <details>
                  <summary>{{ "summaryDispositivos" | translate }}</summary>
                  <ul>
                      <li >{{ "dispositivosP1" | translate }}</li>
                      <li >{{ "dispositivosP2" | translate }}</li>
                      <li >{{ "dispositivosP3" | translate }}</li>
                  </ul>
              </details>
          </li>
      </ul>
  </section>
</main>
