<nav class="icon-bar">
  <div class="activecontainer" >
    <a class="active" routerLink=""><i class="img_container"><img src="assets/imagenes/sinfondo.png" alt="Logo"></i></a>
  </div>
<div class="navigation">
    <input type="checkbox" class="menu-bakery">
    <div class="hamburguer">
    </div>
    <ul class="menu">
        <li> <a routerLink="">Inicio</a></li>
        <li> <a routerLink="nosotros">Nosotros</a></li>
        <li> <a routerLink="proyectos">Proyectos</a></li>
        <li> <a routerLink="servicios">Servicios</a></li>
        <li> <a routerLink="formulario">Registrarme</a></li>
    </ul>
</div>
  <div class="search_container">
    <a href="proyectos"><i class="fa fa-search"></i></a>
  </div>
</nav>
<a href="https://api.whatsapp.com/send?phone=573225877335&text=Hola, Me interesa saber más de este proyecto:" class="btn_whatsapp" target="_blank"><i><img class="img_whatsapp" src="assets/imagenes/whatsapp.png" alt="whatsapp_icono"></i></a>
<router-outlet></router-outlet>
<app-footer></app-footer>
