<nav class="icon-bar">
  <div class="activecontainer" >
    <a class="active" routerLink=""><i class="img_container"><img src="assets/imagenes/sinfondo.png" alt="Logo CommunityEntergroup"></i></a>
  </div>
<div class="navigation">
  <input type="checkbox" class="menu-bakery">
    <div class="hamburguer">
    </div>
    <ul class="menu">
        <li> <a routerLink="">Home</a></li>
        <li> <a routerLink="nosotros">About us</a></li>
        <li> <a routerLink="servicios">Services</a></li>
        <li> <a routerLink="formulario">Contact</a></li>
        <li> <a routerLink="proyectos">Privacy Policy</a></li>
    </ul>
</div>
</nav>
<a href="https://t.me/CommunityEntergroup" class="btn_telegram" target="_blank">
  <img class="img_telegram" src="assets/imagenes/telegram.png" alt="telegram_icono">
</a>
<router-outlet></router-outlet>
<app-footer></app-footer>
