<nav class="icon-bar">
  <div class="activecontainer" >
    <a class="active" href="home"><i class=""><img src="assets/imagenes/sinfondo.png" alt="Logo"></i></a>
  </div>
  <div class="navigation">
    <input type="checkbox" class="menu-bakery">
    <div class="hamburguer">

    </div>
    <ul class="menu">
        <li> <a href="home">Inicio</a></li>
        <li> <a href="nosotros">Nosotros</a></li>
        <li> <a href="proyectos">Proyectos</a></li>
        <li> <a href="#">Servicios</a></li>
        <li> <a href="#">Registrarme  </a></li>
    </ul>
</div>
  <div class="sear_container">
    <a href="proyectos"><i class="fa fa-search"></i></a>
  </div>
</nav>
<router-outlet></router-outlet>

