
/* ajustes generales de la barra de navegación*/
/*icon*/
.icon-bar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  background-color: #F8FCFD
  border-bottom: solid 7px #F73243
  padding: auto
  margin: auto


.icon-bar a
  display: block /* Make the links appear below each other instead of side-by-side */
  text-align: center
  transition: all 0.3s ease /* Add transition for hover effects */
  color: white
  font-size: 36px

.navigation a:hover
  background-color: rgba(247, 50, 67, 0.3)
  padding: 0.5rem

.navigation
  margin-right: 3%

.activecontainer img
  padding: 0
  width: 75%
  margin: 0

.active
  width: 100%
.activecontainer a
  width: 100%

.activecontainer
  width: 35%
  height: 15%

.fa
  color: rgba(35,50 ,50 ,25 )
  transform-origin: 0px 100%
  transition: all 300ms
  padding-right: 0.5rem


/*Desde acá comienza ajustes de menú */

.menu
  display: flex
  flex-direction: row
  font-size: 30px
  list-style: none

.menu a
  color: #F73243
  font-size: 20px
  padding: 5px 8px
  text-decoration: none
  &:hover
  font-size: 25px


/* acá comienzan ajustes de api de whatsapp
.btn_whatsapp
  display: flex
  position: fixed
  line-height: 45px
  bottom: 35%
  right: -2px
  background-color: #25D366
  align-items: center
  justify-content: center
  width: 55px
  height: 55px
  border-radius: 50%
  overflow: hidden


.btn_whatsapp:hover
  tex-decoration: none

.img_whatsapp
  width: 80%
  height: 80%
  border: none

/* MediaQueries Responsive Design */
@media (max-width: 549px)
  .img_whatsapp
    width:80%
  .btn_whatsapp
    width: 8%

@media (max-width: 400px)
  .img_whatsapp
    width:100%
  .btn_whatsapp
    width: 12%



@media (min-width:550px)
  .img_whatsapp
    width:80%
  .btn_whatsapp
    width: 6%
  .activecontainer img
    width: 55%
    margin-right: 2rem

@media (min-width:750px)
  .activecontainer img
    width: 35%
    margin-right: 3rem
  .icon-bar
    justify-content: space-between

@media (min-width:1050px)
  .img_whatsapp
    width:80%
  .btn_whatsapp
    width: 4%
  .activecontainer img
    width: 30%
    margin-right: 3rem


/* menú hamburguer*/
@media (max-width: 850px)
  .navigation
    display: flex
    justify-content: flex-end
    align-items: center
    margin: 0% 10% 0% 0%

  .navigation:hover
    background: rgba(247, 50, 67, 0.5)
    padding: 3rem

  .menu
    display: flex
    justify-content:  flex-end
    flex-direction: row
    align-items: center
    z-index: 1
    transition: 0.5s

  .menu li
    list-style-type: none

  .menu li a
    color: #FFFF
    text-decoration: none
    display: block
    padding: 25px 10px
    font-size: 30%
    line-height: 1
    transition: 0.3s


  .menu li a:hover
    box-shadow: 0 -5px 0px #inset, 100px 0 0 rgba(255, 255, 255, 0.253) inset
    padding: 25px 25px 25px 25px
    font-size: 32%


  .hamburguer
    position: relative
    width: 30px
    height: 5px
    background: #0e0d0d
    border-radius: 10px
    cursor: pointer
    transition: 0.3s
    z-index: 2
    align-items: center
    justify-content: center

  .hamburguer:before,
  .hamburguer:after
    content:""
    position: absolute
    height: 4px
    right: 0
    background: black
    border-radius: 10px
    transition: 0.3s

  .hamburguer:before
    top: -10px
    width: 25px
  .hamburguer:after
    top: 10px
    width: 25px

  .menu-bakery
    position: absolute
    width: 15%
    height: 10%
    z-index: 3
    cursor: pointer
    opacity: 0

  .menu
    justify-content: start
    flex-direction: column
    align-items: center
    position: fixed
    top: 0px
    left:  -50%
    background: rgba(247, 50, 67, 0.8)
    width: 50%
    height: 100%
    padding-top: 65px

  .menu li
    width: 100%
    margin-top: 2rem
    padding-right: 3rem
    margin-bottom: -3rem

  .menu li a,
  .menu li a:hover
    padding: 30px
    font-size: 20px
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.404)inset

  .navigation input:checked ~ .hamburguer
    background: transparent


  .navigation input:checked ~ .hamburguer::before
    top:0
    transform: rotate(-45deg)
    width: 30px

  .navigation input:checked ~ .hamburguer::after
    top:0
    transform: rotate(45deg)
    width: 30px


  .navigation input:checked ~ .menu
    left: 0
    box-shadow: -20px 0 20px rgba(0,0,0,0.3)

@media (min-width:851px)
  .menu-bakery
    display: none
