<main>
  <section id="introduccion">
      <h2>{{ "introduccionPoliticas" | translate }}</h2>
      <p>{{ "introduccionParrafo" | translate }}</p>
  </section>
  <section id="politicas">
      <h2>Políticas</h2>
      <ul>
          <li>
              <details>
                  <summary>{{ "WhatInformationDoWeCollects" | translate }}</summary>
                  <ul>
                      <li >{{ "WhatInformationDoWeCollectsP" | translate }}</li>
                  </ul>
              </details>
          </li>
          <li>
              <details>
                  <summary>{{ "WhenDoWeCollectInformation" | translate }}</summary>
                  <ul>
                      <li >{{ "WhenDoWeCollectInformationP" | translate }}</li>
                  </ul>
              </details>
          </li>
          <li>
            <details>
                <summary>{{ "howDoWeUse" | translate }}</summary>
                <ul>
                    <li >{{ "howDoWeUseP" | translate }}</li>
                </ul>
            </details>
            </li>
          <li>
            <details>
                <summary>{{ "deletInformation" | translate }}</summary>
                <ul>
                    <li >{{ "deletInformationP" | translate }}</li>
                </ul>
            </details>
          </li>

          <li>
              <details>
                  <summary>{{ "DoWeUseCookies" | translate }}</summary>
                  <br>
                  <p>{{ "DoWeUseCookiesP" | translate }}</p>
                  <ul>
                      <li >{{ "DoWeUseCookiesP1" | translate }}</li>
                      <li >{{ "DoWeUseCookiesP2" | translate }}</li>
                      <li >{{ "DoWeUseCookiesP3" | translate }}</li>
                      <li >{{ "DoWeUseCookiesP4" | translate }}</li>
                  </ul>
              </details>
          </li>
      </ul>
  </section>
</main>
