<section class="services">
  <div class="construccion">
    <div class="container_construccion">
      <h2>Pay Per Click (PPC) Management</h2>
      <p>Creamos un canal que conecta los mejores clientes para su empresa de forma rápida y segura, utilizando un sitio web de recolección de datos hecho a su medida y fácil de usar.</p>
      <br>
      <p>Incluimos también anuncios que aseguran la visualización de sus ofertas y el interés de nuevos clientes con información nueva para asegurar la creación de nuevas campañas con estrategias enfocadas en mejorar el tráfico.</p>
    </div>
    <div class="img">
      <img class="img_construccion" src="assets/imagenes/mujerConGrafico.jpg" alt="imagen">
    </div>
  </div>

  <div class="acabados">
      <div class="img acabados">
      <img class="img_acabados"src="assets/imagenes/mujerConGrafico.jpg" alt="imagen_acabados">
      </div>
      <div class="container_acabados">
      <h2>Social Media Marketing (SMM)</h2>
      <p>Administramos las redes sociales de su empresa adaptandolas a las necesidades de su negocio con el fin de promover que incrementen el numero de seguidores y clientes potenciales.
      </p>
      <br>
      <p>Nuestro marketing digital identifica sus objetivos principales, realiza evaluaciones comparativas de la competencia y Evalúa el comportamiento del cliente. Aprovechando los datos y el análisis, formulamos soluciones sólidas
        estrategias para la gestión de marca en redes sociales y publicidad pagada.</p>
    </div>

  </div>
  <div class="reparacion">
    <div class="container_reparacion">
    <h2>Content Writing
    </h2>
    <p>El equipo de profesionales a cargo de sus campañas tendrá siempre las mejores y más actualizadas tendencias en Marketing Digital, haciendo que sus productos puedan competir a nivel mundial con los estandares de Google al desarrollar contenido.</p>
    <br>
    <p>
    </p>
  </div>
    <div class="img reparacion">
      <img class="img_reparacion" src="assets/imagenes/mujerConGrafico.jpg" alt="reparacion">
    </div>
  </div>
  <div class="ventas">
    <div class="container_ventas">
      <h2>Incrementa tus ingresos empresariales</h2>
      <p>Somos una agencia de Marketing Digital con experiencia suficiente para apoyar a cualquier empresa en el desarrollo de campañas comerciales efectivas, capaces de cumplir los objetivos de las empresas y asegurar el retorno de la inversión (ROI).</p>
    </div>
  </div>
</section>
<app-slider></app-slider>
