<section class="services">
  <div class="ventas">
    <div class="container_ventas">
      <h1> {{ "servicesH1Proveemos" | translate }} </h1>
      <p> {{ "servicesPSomos" | translate }} </p>
    </div>
  </div>
  <div class="construccion">
    <div class="container_construccion">
      <h2> {{ "servicesTitlePayClick" | translate }} </h2>
      <p> {{ "servicesParrafo1PayClick" | translate }} </p>
      <br>
      <p> {{ "servicesParrafo2PayClick" | translate }} </p>
    </div>
    <div class="img construccion">
      <img class="img_construccion" src="assets/imagenes/payPerClick.jpg" alt="imagen">
    </div>
  </div>
  
  <div class="acabados">
      <div class="img acabados">
      <img class="img_acabados"src="assets/imagenes/SMM.jpg" alt="imagen_acabados">
      </div>
      <div class="container_acabados">
      <h2>{{ "MarketingRedesTitulo" | translate }}</h2>
      <p>{{ "marketingP1" | translate }}</p>
      <br>
      <p>{{ "marketingP2" | translate }}</p>
  </div>

  </div>
  <div class="reparacion">
    <div class="container_reparacion">
    <h2>{{ "contentWritingTitle" | translate }}</h2>
    <p>{{ "contentWritingP" | translate }}</p>
  </div>
    <div class="img reparacion">
      <img class="img_reparacion" src="assets/imagenes/contentWriting.jpg" alt="reparacion">
    </div>
  </div>
</section>

