<section class="services">
  <div class="construccion">
    <div class="container_construccion">
      <h3>Construcción</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
    </div>
    <div class="img">
      <img class="img_construccion" src="assets/imagenes/construccion.jpg" alt="imagen">
    </div>
  </div>

  <div class="acabados">
      <div class="img acabados">
      <img class="img_acabados"src="assets/imagenes/acabados.jpg" alt="imagen_acabados">
      </div>
      <div class="container_acabados">
      <h3>Acabados</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
    </div>

  </div>
  <div class="reparacion">
    <div class="container_reparacion">
    <h3>Reparación</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
    </div>
    <div class="img reparacion">
      <img class="img_reparacion" src="assets/imagenes/reparacion.jpg" alt="reparacion">
    </div>
  </div>
  <div class="ventas">
    <div class="container_ventas">
      <h3>Vende tu inmueble</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis et tempore fuga nam accusantium, vel iure consectetur amet non eligendi ad provident expedita. Magni provident reprehenderit quis quae earum dignissimos.</p>
    </div>
  </div>
</section>
<app-slider></app-slider>
