
.slideshow_container
  background-color: #e2ffff
  color: black
  text-align: center
  width: 100%
  height: 400px
  padding: 10px  0px 20px 0rem
  margin: 10px 0px 0px 0px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.mySlides
  display: none
  display: flex
  flex-direction: column
  color: black
  background-color: white
  width: 300px
  height: 185px
  margin: 20px 10px 5px 10px
  padding: 10px
  justify-content: center
  align-items: center

.fade
  animation-name: fade
  animation-duration: 1.5s

@keyframes fade
from
    opacity:.4
to
    opacity:1

.sliders
  display: flex
  align-items: center
  justify-content: center
  background-color: #e2ffff
  box-sizing: border-box
  width: 100%
  flex-direction: row
  margin-bottom: 1.5rem

@-webkit-keyframes fade
  from
    opacity:.4
  to
    opacity:1

.anchor_register img
  width: 100%

/* mediaquerys */
@media (min-width:550px)
  .mySlides
    width: 350px
  .customer
    font-size: 1.8rem
  .sliders
    margin-bottom: 3rem


@media (min-width:750px)
  .mySlides
    width: 400px
  .customer
    font-size: 2rem
  .sliders
    margin-bottom: 5rem
  .slideshow_container
    height: 430px

@media (min-width:1050px)
  .mySlides
    width: 600px
  .customer
    font-size: 2.5rem
  .sliders
    margin-bottom: 14rem
  .slideshow_container
    height: 600px



