<div class="slideshow_container">
  <h1 class="customer">Proyectos</h1>
  <div class="sliders">
    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/acabados.jpg" alt="acabados"></a>
    </div>
    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/construccion.jpg" alt="construccion"></a>
    </div>
    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/acabados.jpg" alt="acabados"></a>
    </div>

    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/construccion.jpg" alt="construccion"></a>
    </div>
  </div>
  <h3>Hermosos proyectos</h3>
  <p>Ubicados en Bogotá</p>
</div>
