<div class="slideshow_container">
  <h1 class="customer">What service do you want to hire?</h1>
  <div class="sliders">
    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/hojaMarketing.jpg" alt="acabados"></a>
    </div>
    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/webDesign.jpg" alt="construccion"></a>
    </div>
    <div class="mySlides fade">
      <a class="anchor_register" routerLink="proyectos"><img src="assets/imagenes/ecommerce.jpg" alt="acabados"></a>
    </div>
  </div>
  <h3>Marketing is the root of sales, don't wait to hire us</h3>

</div>
