<swiper-container pagination="false" effect="coverflow" grab-cursor="true" centered-slide="true" slides-per-view="auto"
coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="200" coverflow-effect-modifier="1"
coverflow-effect-slide-shadows="false" class="swipercotainer">
 <swiper-slide class="tarjeta" *ngFor="let tarjeta of tarjetas">
  <div class="imagenContainer">
    <img [src]="tarjeta.imagen" alt="Imagen de la tarjeta">
  </div>
  <div class="contenidoTarjeta">
    <h3>{{ tarjeta.titulo }}</h3>
    <p>{{ tarjeta.descripcion }}</p>
    <button class="botonContactar" routerLink="servicios">Contactar</button>
  </div>
</swiper-slide>
</swiper-container>

