h1, h2, h3, h4, #description, p
  text-align: center
  margin-top: 1rem
  margin-bottom: 1rem
#dropdown
  margin-top: 0px

.datos
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 0 auto
  border: 0px
  padding: 2rem
  border: 0px solid #3b3b4f
  margin-bottom: 0px

form
  border-top: 3px solid #09090e
  padding: 0.5rem
  width: 100%


label
  display: block
  margin-bottom: 5px

input:not([type="radio"], [type="text-area"], [type="submit"])
  background-color: #e2ffff
  margin: 0 auto
  width: 100%
  border-radius: 4px
  border: 1px solid #3b3b4f
  text-align: center
  min-height: 20px
  margin-top: 2px
  color: blanchedalmond

option, select
    background-color: #e2ffff



fieldset
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border: none
  margin-top: 0px


#dropdown
  width: 50%
  margin: 0 auto
  border: 0px
  text-align: center

.checkbox
  display: inline-block
  max-width: 50px
  min-width: 50px
  width: 2px
  height: 2px
  margin: 0 auto
  border: 0px
  border: -1px solid #3b3b4f

.comentarios
  width: 90%
  height: 30px
  background: rgba(180,212,255,0.3)
  color: #000000
  border-radius: 5px
  border: none

.submit
  background-color: #e2ffff
