.video_section
  background: #E2FFFF
  display: flex
  text-align: center
  align-items: center
  flex-direction: column
  padding: 0% 3%
  width: 100%
  height: 600%

.search input
  width: 50%
  margin: 10% 0%
  border-radius: 30px
  padding: 5% 50%
  color: black

.projects_section
  background: white
  padding: 0% 3%

iframe
  height: 25%
  width: 80%

/* recuadro para registarse*/

.register
  display: flex
  flex-direction: column
  background: #008080
  margin: 15px
  border-radius: 10px
  justify-content: center
  align-items: center
.title_register
  color: white
  padding: 30px 30px 10px 30px
  align-content: center
  border-radius: 5px
.container_register
  display: flex
  background: black
  margin: 5px 5px 15px 5px
  width: 35%
  align-content: center
  color: white
  justify-content: center
  align-content: center
  border-radius: 20px
  padding: 7px

.botton_register
  background: black
  color: white
  align-self: center

.anchor_register
  background: black
  color: white
  text-align: center
  text-decoration: none

  /* mediaquerys*/
@media (min-width:550px)
  .video_section
    padding: 5% 5%
    width: 100%
  iframe
    height: 240px
    width: 80%
  .nosmotiva
    padding-bottom: 1.5%
    font-size: 26px
  .follow_us
    font-size: 21px
  .search input
    width: 300px
  .projects_section
    font-size: 26px


@media (min-width:750px)
  .video_section
    padding: 5% 5%
    width: 100%
  iframe
    height: 320px
    width: 80%
  .nosmotiva
    padding-bottom: 1.5%
    font-size: 29px
  .follow_us
    font-size: 23px
  .search input
    width: 340px
  .projects_section
    font-size: 29px
@media (min-width:1050px)
  .video_section
    padding: 5% 5%
    width: 100%
  iframe
    height: 370px
    width: 80%
  .nosmotiva
    padding-bottom: 1.5%
    font-size: 35px
  .follow_us
    font-size: 26px
  .search input
    width: 400px
  .projects_section
    font-size: 32px
