.video_section
  background: #E2FFFF
  display: flex
  text-align: center
  align-items: center
  flex-direction: column
  padding: 0% 3%

.search_input
  width: 85%
  margin: 10% 0%
  border-radius: 30px
  padding: 5% 50%
  color: black

.projects_section
  background: white
  padding: 0% 3%
