<section class="video_section">
  <h2 class="nosmotiva" >¿Qué nos motiva?</h2>
  <iframe  src="https://www.youtube.com/embed/ptc4Awb0UpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h3 class="follow_us"> No duddes en buscarnos en youtube, siguenos!.</h3>
  <hr>
</section>
<main class="projects_section">
  <h2>Proyectos</h2>
  <br>
  <h4>Realizamos diferentes proyectos a  tu medida, con los acabados que gustes y lo más importante, adaptado para tus gustos, mira algunos!</h4>
<app-slider></app-slider>
  <div class="register">
    <h3 class="title_register"> Nuestro próximo proyecto puede ser tu próximo hogar</h3>
    <div class="container_register">
      <a class="anchor_register" routerLink="formulario"> Registrate </a>
    </div>
  </div>
</main>

