<section class="video_section">
  <div class="search">
    <input placeholder="Busca tus proyectos" class="search_input" type="search" name="searcher" id="">
  </div>
  <h2 class="nosmotiva" >¿Qué nos motiva?</h2>
  <iframe width="264" height="142" src="https://www.youtube.com/embed/ptc4Awb0UpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h3 class="follow_us"> No duddes en buscarnos en youtube, siguenos!.</h3>
  <hr>
</section>
<main class="projects_section">
  <h2>Proyectos</h2>
  <br>
  <h3>Acá puedes ver nuestros proyectos, no dudes en comunicarte con nosotros</h3>
  <div class="slider_projects">

  </div>

</main>
<app-footer></app-footer>
